<header class='header-module--Header'>
  <div class='container-module--container'>
    <div class='header-module--container'>
      <div class='header-module--col1'>
        <div class='header-module--brand'>
          <a routerLink="/" routerLinkActive="active">Garage Booking</a>
        </div>
      </div>
      <div class='header-module--col2' *ngIf="isLogin; else logout">
        <app-home-auth></app-home-auth>
      </div>
      <ng-template #logout>
        <app-home-header></app-home-header>
      </ng-template>
    </div>
  </div>
</header>
